@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{ 

    --blue8: rgb(0, 119, 181);
    --other:rgb(165, 0, 54);
    
    --bs-primary: var(--blue8);
    --bs-primary-rgb: 0, 119, 181;    

    --bs-primary-bg-subtle: rgba(207, 226, 255, 0.75);
    --bs-focus-ring-color: rgba(0, 119, 181, 0.25);
    --bs-body-bg-color:rgba(173, 216, 230, 0.25);
    --bs-btn-hover-bg: rgb(1, 86, 129);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.other-theme {
    --bs-primary: var(--other);
    --bs-primary-rgb: 165, 0, 54;
    --bs-primary-bg-subtle:rgba(252, 203, 219, 0.75);
    --bs-focus-ring-color: rgba(165, 0, 54, 0.25);
    --bs-body-bg-color: rgba(233, 177, 196, 0.25);
    --bs-btn-hover-bg: rgb(129, 2, 44);
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bs-body-bg-color);
    transition: background-color 0.3s ease;
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
}

.form-control:focus {
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.25rem var(--bs-focus-ring-color);
}


#taskList {
    font-size: 14.8px;
    border-radius: 5px;
    padding-inline: 1rem;
}

#taskList li:not(:last-child) {
    border-bottom: 1px solid #c4c2c2;
}

.completed {
    text-decoration: line-through;
    color: #7f7e7e;
}